.wrap-login100{

    padding: 100px 130px 33px 95px !important;
  }
  .p-t-136 {
    padding-top: 20px;
  }
  #error{
    color: red;
     font-size: 1rem;
    font-family: cursive;
    font-weight: bold;
   }