<ion-header translucent>
  <ion-toolbar>
    <ion-title>List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list-header>
    </ion-list-header> 
  
   
	<div class="limiter">
    <div class="wrap-table100" >		 
      
     <div class="table100 ver6 m-b-110">
       <table data-vertable="ver6">
         <thead>
                     <tr class="row100 head">
              <th class="column100 column2" colspan="6"  > 
                <ion-button expand="block"><a routerLink="/acceuil/produit/ajouter" style="color: white;">Ajouter un Produit</a></ion-button>
              </th>
             
            </tr>
           <tr class="row100 head"  >
              <th class="column100 column1"   >Image Produit</th>
             <th class="column100 column3" >Nom Produit</th>
             <th class="column100 column4" > Prix Produit</th>
             <th class="column100 column5"  >Description Produit</th>
              <th class="column100 column7"  >actions</th>
            </tr>
         </thead>
         <tbody  *ngFor="let data of data">
          
           <tr class="row100">
            <td class="column100 column1" >  <ion-icon name="people"></ion-icon>

             <td class="column100 column1"  >{{data.nomProduit}} </td>
             <td class="column100 column2" > {{data.prix}}</td>
             <td class="column100 column3"  > {{data.description}}</td>
             <td class="column100 column4"  >  
                 <ion-icon routerLink="/acceuil/produit/modifier/{{data.id}}"  name="construct" style="width: 27px;height: 49px;"></ion-icon>
                
                <ion-icon name="trash"class="trash" style="width: 27px;height: 49px;   padding-left: 4px;"><a (click)="supprimer(data.id)"></a> </ion-icon>            

               </td>
                              
             </tr>
                      
          </tbody>
       </table>
     </div>
   </div>
</div> 

</ion-content>