<ion-header translucent>
  <ion-toolbar>
    <ion-title>List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list-header>
    Liste Produit
   </ion-list-header>
   <ion-button expand="block"><a routerLink="/acceuil/produit/ajouter">Ajouter un Produit</a></ion-button>

  <ion-list> 
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Photo</th>
          <th scope="col">Nom</th>
          <th scope="col">Prix</th>
          <th scope="col">Description</th>
          <th scope="col">Action</th>

        </tr>
      </thead>
      <tbody  *ngFor="let data of data">
        <tr>
          <th scope="row" >  <ion-icon name="people"></ion-icon>

          </th>
          <th scope="row" >{{data.nomProduit}}</th>
          <th scope="row" >{{data.prix}}</th>
          <th scope="row" ><p>{{data.description}}</p></th>
          <th scope="row" >    
            <ion-card class="hand">
              <ion-item routerLink="/acceuil/produit/modifier/{{data.id}}" class="ion-activated">
                <ion-icon name="construct"></ion-icon>
              </ion-item>
               <ion-item >
                <a (click)="supprimer(data.id)"> <ion-icon name="trash"class="trash"></ion-icon>            </a>

              </ion-item> 
                    
            </ion-card>
          </th>
        </tr>
      </tbody>
    </table>
  </ion-list>
  
</ion-content>