
  .table td, .table th {
    vertical-align: initial !important;
}
.header-row {
    background: #7163AA;
    color: #fff;
    font-size: 18px;
  }
  
  ion-col {
    border: 1px solid #ECEEEF;
  }
  
 
.hand{
  cursor: pointer; 
  justify-content: center !important;

}